body{
  background-color: #457b9d;
  font-family: Montserrat;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px auto auto;
  grid-template-areas:
  "header header"
  "form preview"
  "result result";
  gap: 10px;
}

.header{
  grid-area: header;
  text-align: center;
}

.form{
  grid-area: form;
  display: grid;
  padding: 30px;
  background-color: #a8dadc;
  border-radius: 5px;
}

input[type=text]{
  width: 95%;
  border: 1px solid #1d3557;
  border-radius: 5px;
  padding: 1vw;
}

.preview{
  grid-area: preview;
  display: grid;
  position: relative;
}

.preview-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.preview-text{
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#top-preview{
  position: absolute;
  text-align: center;
  justify-content: end;
  top: 0%;
  width: 90%;
  word-wrap: break-word;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  -webkit-text-stroke: 2px black;
  font-size: 3vw;
}

#bot-preview{
  position: absolute;
  text-align: center;
  top: 65%;
  width: 90%;
  word-wrap: break-word;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  -webkit-text-stroke: 2px black;
  font-size: 3vw;
}

button{
  font-size: 2.5vw;
  margin-top: 10px;
}

.result{
  grid-area: result;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.preview i{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 6rem;
  opacity: 0;
}

.preview i:hover{
  opacity: 1;
}

.meme{
  width: 45%;
  margin: 5px;
  transition: .5s ease;

}

.meme:hover{
  opacity: 0.3;
  border: 1px solid #a8dadc;
  cursor: pointer;
}